{% extends 'layout.html' %}

{% block title %} {{ department }} {% endblock title %}

{% block body %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
<h1> department </h1>
{% if departments %}
        {% for d in departments %}
                <p>{{d.departmentid}}</p>
                <p>{{d.department_name}}</p>
<hr>
        {% endfor  %}
{% else %}
{% endif %}
<button class= type="button">
        <a class="nav-link" href="{{ url_for('add_department') }}">Update department</a>
</button>
{% endblock body %}