{% extends "layout.html" %}
{% block content %}
			<div class="card-header">
                	<h3>ADD_DETAILS </h3>
			</div>
				<div class="msg">{{ msg }}</div>
			<form action="{{ url_for('add_details') }}" method="POST" >
				<div class="row">
					<div>
							Choose department:
  							<SELECT name="departmentid" id="departmentid" class="form-control">
								{% for d in departments %}
								<OPTION value={{d.departmentid}}>{{d.department_name}}</OPTION>
								{% endfor %}
							</SELECT>
					</div>
				</div>
				<br><br><div>
				<div class="row">
					<div>
							Choose designation:
  							<SELECT name="designationid" id="designationid" class="form-control">
								{% for b in designations %}
								<OPTION value={{b.designationid}}>{{b.designation_name}}</OPTION>
								{% endfor %}
							</SELECT>
					</div>
				</div>
				<br><br><div class="row">
				<div>
						Choose country:
  							<SELECT name="countryid" id="countryid" class="form-control">
							{% for c in countries %}
							<OPTION value={{c.countryid}}>{{c.country_name}}</OPTION>
							{% endfor %}
							</SELECT>
				</div>
			</div>
			</div>
				<button class="button is-block is-info is-medium is-fullish">Save</button>
			</form>
{% endblock content %}
