{% extends 'layout.html' %}

{% block title %} {{ Country }} {% endblock title %}

{% block body %}
<h1> Country </h1>

					<div class="msg">{{ msg }}</div>
{% if countries %}
        {% for c in countries %}
                <p>{{c.countryid}}</p>
                <p>{{c.country_name}}</p>
<hr>
        {% endfor  %}
{% else %}
{% endif %}
<button class= type="button">
        <a class="nav-link" href="{{ url_for('edit_country') }}">Edit country</a>
</button>
<button class= type="button">
        <a class="nav-link" href="{{ url_for('add_country') }}">Add country</a>
</button>
{% endblock body %}