{% extends 'layout.html' %}

{% block title %} {{ Country }} {% endblock title %}

{% block body %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
<h1> Country </h1>
{% if countries %}
        {% for c in countries %}
                <p>{{c.countryid}}</p>
                <p>{{c.country_name}}</p>
<hr>
        {% endfor  %}
{% else %}
{% endif %}
<button class= type="button">
        <a class="nav-link" href="{{ url_for('add_country') }}">Update country</a>
</button>
{% endblock body %}