{% extends 'layout.html' %}

{% block title %} {{ Designation }} {% endblock title %}

{% block body %}
<h1> Designation </h1>

					<div class="msg">{{ msg }}</div>
{% if designations %}
        {% for b in designations %}
                <p>{{b.designationid}}</p>
                <p>{{b.designation_name}}</p>
<hr>
        {% endfor  %}
{% else %}
{% endif %}
<button class= type="button">
        <a class="nav-link" href="{{ url_for('edit_designation') }}">Edit designation</a>
</button>
<button class= type="button">
        <a class="nav-link" href="{{ url_for('add_designation') }}">Add designation</a>
</button>
{% endblock body %}