{% extends "layout.html" %}

{% block content %}
<div class="col-md-7 ">

    <div class="panel panel-default">
        <div class="panel-heading">  <h4 >User Profile</h4></div>
        <div class="panel-body">

            <div class="box box-info">

                <div class="box-body">
                    <div class="col-sm-6">
                        <div  align="center"><img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">

                            <input id="profile-image-upload" class="hidden" type="file">
                            <div style="color:#999;" >change profile image
                            </div>
                            <div class="col-md-6">
                                <div class="detail-head">
                                    <tr>
                                        <td>First_name:</td>
                                        <td>{{ employee['first_name'] }}</td>
                                    </tr>
                                    <p class="detail-rating">RANKINGS : <span>8/10</span></p>
                                </div>
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content details-tab" id="myTabContent">
                                    <div class="tab-pane show active" id="details" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <tr>
                                                    <td>{{ employee['id'] }}</td>
                                                </tr>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Title</label>
                                            </div>
                                            <div class="col-md-6">
                                                <tr>
                                                    <td>{{ employee['designation'] }}</td>
                                                </tr>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <tr>
                                                    <td>{{ employee['first_name'] }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ employee['sir_name'] }}</td>
                                                </tr>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <tr>
                                                    <td>{{ employee['email'] }}</td>
                                                </tr>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <tr>
                                                    <td>{{ employee['phone'] }}</td>
                                                </tr>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Dept</label>
                                            </div>
                                            <div class="col-md-6">
                                                <tr>
                                                    <td>{{ employee['department_name'] }}</td>
                                                </tr>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Gender</label>
                                            </div>
                                            <div class="col-md-6">
                                                <tr>
                                                    <td>{{ employee['gender'] }}</td>
                                                </tr>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Country</label>
                                            </div>
                                            <div class="col-md-6">
                                                <tr>
                                                    <td>{{ employee['country'] }}</td>
                                                </tr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
