{% extends "layout.html" %}

{% block content %}
<div class="col-md-7 ">

    <div class="panel panel-default">
        <div class="panel-heading">  <h4 >User Profile</h4></div>
        <div class="panel-body">
				<div class="msg">{{ msg }}</div>

            <div class="box box-info">

                <div class="box-body">
                    <div class="col-sm-6">
                        <div  align="center"><img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">

                            <input id="profile-image-upload" class="hidden" type="file">
                            <div style="color:#999;" >change profile image
                            </div>
                                    <h2>Details Page</h2>
                                     <div class="border">
                                        <table class="worddark"></br></br></br></br>
                                            <tr>
                                                <td>Username:</td>
                                                <td>{{ employee['user_name'] }}</td>
                                            </tr>
                                            <tr>
                                                <td>Surname:</td>
                                                <td>{{ employee['sir_name'] }}</td>
                                            </tr>
                                            <tr>
                                                <td>Email:</td>
                                                <td>{{ employee['email'] }}</td>
                                            </tr>
                                            <tr>
                                                <td>Department ID:</td>
                                                <td>{{ employee['departmentid'] }}</td>
                                            </tr>
                                            <tr>
                                                <td>Country ID:</td>
                                                <td>{{ employee['countryid'] }}</td>
                                            </tr>
                                            <tr>
                                                <td>Designation ID:</td>
                                                <td>{{ employee['designationid'] }}</td>
                                            </tr>
                                            <tr>
                                                <td>DOB:</td>
                                                <td>{{ employee['DOB'] }}</td>
                                            </tr>
                                            <tr>
                                                <td>Gender:</td>
                                                <td>{{ employee['gender'] }}</td>
                                            </tr>
                                        </table>
                                         <button type="button" class="btn btn-primary">
                                            <a class="nav-link" href="{{ url_for('add_details') }}">Update acc</a>
                                         </button>
                                         <br><br><button type="button" class="btn btn-danger">
                                            <a class="nav-link" href="{{ url_for('delete_user') }}">Delete acc</a>
                                         </button>
                                     </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock %}


<!--<div class="col-md-7 ">-->

<!--    <div class="panel panel-default">-->
<!--        <div class="panel-heading">  <h4 >User Profile</h4></div>-->
<!--        <div class="panel-body">-->

<!--            <div class="box box-info">-->

<!--                <div class="box-body">-->
<!--                    <div class="col-sm-6">-->
<!--                        <div  align="center"><img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">-->

<!--                            <input id="profile-image-upload" class="hidden" type="file">-->
<!--                            <div style="color:#999;" >change profile image-->
<!--                            </div>-->
<!--                            <div class="col-md-6">-->
<!--                                <div class="detail-head">-->
<!--                                    <tr>-->
<!--                                        <td>User_name:</td>-->
<!--                                        <td>{{ employee['user_name'] }}</td>-->
<!--                                    </tr>-->
<!--                                    <p class="detail-rating">RANKINGS : <span>8/10</span></p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-2">-->
<!--                            </div>-->
<!--                            <div class="col-md-8">-->
<!--                                <div class="tab-content details-tab" id="myTabContent">-->
<!--                                    <div class="tab-pane show active" id="details" role="tabpanel" aria-labelledby="home-tab">-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-md-6">-->
<!--                                                <label>User Id</label>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <tr>-->
<!--                                                    <td>{{ employee['employee_id'] }}</td>-->
<!--                                                </tr>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-md-6">-->
<!--                                                <label>Dept</label>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <tr>-->
<!--                                                    <td>{{ employee['departmentid'] }}</td>-->
<!--                                                </tr>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-md-6">-->
<!--                                                <label>Email</label>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <tr>-->
<!--                                                    <td>{{ employee['email'] }}</td>-->
<!--                                                </tr>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-md-6">-->
<!--                                                <label>Designation</label>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <tr>-->
<!--                                                    <td>{{ employee['designationid'] }}</td>-->
<!--                                                </tr>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-md-6">-->
<!--                                                <label>Gender</label>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <tr>-->
<!--                                                    <td>{{ employee['gender'] }}</td>-->
<!--                                                </tr>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-md-6">-->
<!--                                                <label>Country</label>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <tr>-->
<!--                                                    <td>{{ employee['countryid'] }}</td>-->
<!--                                                </tr>-->
<!--                                                <button class="button is-block is-info is-small is-fullish">-->
<!--                                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                                                              <ul class="navbar-nav mr-auto">-->
<!--                                                                 <li class="nav-item ">-->
<!--                                                                     <a class="nav-link" href="/add_details"><span class="badge badge-secondary">add_details</span></a>-->
<!--                                                                 </li>-->
<!--                                                              </ul>-->
<!--                                                    </div>-->

<!--                                            edit_Profile</button>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
