<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />

    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
</head>
<body>
            <section class="hero is-primary is-fullheight">
           <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
              <a class="navbar-brand" href=""><span class="badge badge- secondary">Online_Ventures</span></a>
              <div class="topnav" id="myTopnav">
                <ul class="navbar-nav mr-auto">
<!--				<li class="nav-item active">-->
<!--					<a class="nav-link" href="/"><span class="sr-only">{{ session.user_name}}</span></a>-->
<!--				</li>-->

{%if session.loggedin%}
				<li class="nav-item ">
					<a class="nav-link" href="{{ url_for('home') }}"><i class="fas fa-home"> </i>Home</a>
				</li>

                <li class="nav-item">
					<a class="nav-link" href="{{ url_for('details') }}"><i class="fas fa-user"> </i> Profile</a></a>
				</li>

<!--                <li class="nav-item ">-->
<!--					<a class="nav-link" href="{{ url_for('department') }}"><i class="fas fa-user"> </i> Departments</a>-->
<!--				</li>-->
<!--                     <li class="nav-item ">-->
<!--					<a class="nav-link" href="{{ url_for('designation') }}"><i class="fas fa-user"> </i> Designations</a>-->
<!--				</li>-->
<!--                     <li class="nav-item ">-->
<!--					<a class="nav-link" href="{{ url_for('country') }}"><i class="fas fa-user"> </i> Countries</a>-->
<!--				</li>-->

				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('logout') }}"><i class="fas fa-user"> </i> Logout</a></a>
				</li>

                    <div class="dropdown">
                         <button class="drop-button"> Click Me </button>
                         <div class="dropdown-content">
                         <li> <a href="{{ url_for('department') }}">Departments </a></li>
                         <li> <a href="{{ url_for('country') }}">Countries </a></li>
                         <li> <a href="{{ url_for('designation') }}">Designations</a></li>
                         </div>
                    </div>
{%else%}
                <li class="nav-item">
					<a class="nav-link" href="{{ url_for('register') }}"><i class="fas fa-sign-out-alt"> </i> Sign up</a></a>
				</li>

                <li class="nav-item">
					<a class="nav-link" href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"> </i> Login</a></a>
				</li>
{%endif%}

   			</ul>
            </div>

           </nav>

                    <div class="hero-body">
                        <div class="container has-text-centered">
                           {% block content %}
                                {% block body %}
                                {% endblock body %}

                           {% endblock content %}
                        </div>
                    </div>
                </section>
    </body>
</html>