{% extends "layout.html" %}

{% block content %}
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>REGISTER </h3>
			</div>
			<div class="card-body">
			<form action="{{ url_for('register') }}" method="POST" autocomplete="off">
				<div class="row">
				<div class="input-group form-group">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fas fa-user"></i></span>
					</div>
				<input type="text" name="user_name" placeholder="Username" id="user_name" required>
				</div>
				<div class="input-group form-group">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fas fa-user"></i></span>
				</div>
				<input type="text" name="sir_name" placeholder="Surname" id="sir_name" required>
				</div>
				</div>
				<div class="input-group form-group">
					<div class="input-group-prepend">
						<span class="input-group-password"><i class="fas fa-lock"></i></span>
					</div>
				<input type="password" name="password" placeholder="Password" id="password" required>
				</div>
				<div class="input-group form-group">
					<div class="input-group-prepend">
						<span class="input-group-password"><i class="fas fa-lock"></i></span>
				</div>
				<input type="password" name="password2" placeholder="Confirm_password" id="password2" required>
				</div>

				<div class="input-group form-group">
					<div class="input-group-prepend">
						<span class="input-group-email"><i class="fas fa-envelope"></i></span>
				</div>
				<input type="email" name="email" placeholder="Email" id="email" required>
				</div>
					<div class="input-group form-group">
					<div class="input-group-radio">
				<select name="gender" id="gender" class="demoInputBox">
							<option value="M">Male</option>
							<option value="F">Female</option>
				</select>
					</div>
					</div>
				<div class="input-group form-group">
					<div class="input-group-prepend">
						<span class="input-group-date"><i class="fas fa-date"></i></span>
				</div>
				<input type="date" name="DOB" placeholder="Date" id="DOB" required>
				</div>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Register">

			</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
